# ignore all folders starting with '.' (dot)
# .idea .out .build .gradle .docs .vs .DS_Store
.*/

# IDEA
out/
# VS
Debug/
Release/
x64/

# git rm -r --cached .
# git add .
# git commit -am "Remove ignored files"
